@font-face {
    font-family: 'Megrim';
    src: url(./Asset/Megrim-Regular.ttf);
}
@font-face {
    font-family: 'Raleway';
    src: url(./Asset/Raleway-VariableFont_wght.ttf);
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
  border-radius: 1rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d391ff; 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a32ab; 
}
body{
    background-color: #1A261D;
    height: 100%;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    padding: 0;
    background-color: #1A261D;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 10;
    height: 50px;
    margin: 0;
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: #f9f9f9;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    margin: 5px;
  }
  #class-logo{
    float: left;
    transform: translate(-40px,-40px);
   background-color: transparent;
   width: 20px;
   height: 20px;
   padding: 10px;
 }
#logo-img{
    width: 80px;
   height: 80px;
}
  li:hover, .dropdown:hover {
      color: #1A261D;
      background: #cd88fc;
      box-shadow: 0 0 10px #d391ff, 0 0 20px #d391ff, 0 0 50px #d391ff;
      border-radius: 1rem;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #D9D7D7;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .frame1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    transform: translateX(5%);
  }
.flip-box{
  margin: 80px auto auto 30px;
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
}
.flip-box-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'megrim';
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner{
  transform: rotateY(180deg);
}
.flip-img{
  width: 500px;
  height: 500px;
  border-radius: 5rem;
}

.flip-box-front .flip-box-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-box-front{
background-color: #1A261D;
}
.flip-box-back{
  background-color: #d391ff;
  position: absolute;
  width: 350px;
  height: 200px;
  padding: 170px 50px 100px 50px;
  border-radius: 5rem;
  top: 50%;
  left: 50%;
  transform: rotateY(180deg) translate(50%, -50%);
}
.rightframe{
  transform: translate(-15%, 25%);
}
.about{
  display: inline;
  transform: translate(-20%, 30%);
  width: 100%;
}
.collapsible {
  background-color: transparent;
  color: #D9D7D7;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: #d391ff solid;
  border-radius: 5rem;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px #d391ff, 0 0 20px #d391ff, 0 0 50px #d391ff;
  transition: 0.5s;
}
.active, .collapsible:hover {
  background-color: #d391ff;
  color: #1A261D;
  box-shadow: 0 0 5px #d391ff, 0 0 20px #d391ff;
}
.content {
  padding: 0px 18px;
  width: 90%;
  overflow: hidden;
  background-color: #f6e3ff;
  transform: translateX(2.5%);
  max-height: 0;
  transition: max-height 0.2s ease-out;
  font-family: 'Raleway';
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #D9D7D7;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.gallery{
  width: 700px;
  min-height: 300px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  transform: translateY(-10%);
}
.gallery .box{
  position: relative;
  width: 700px;
  height: 300px;
  margin: 0px;
  box-sizing: border-box;
  display: inline-block;
}
.gallery .box .imgbox{
  position: inline-block;
  overflow: auto;
}
.gallery .box .imgbox img{
  max-width: 90%;
  margin: 10px 5px 0px 5px;
}
.column {
  float: left;
  width: 50%;
  margin: 0;
}
.box::after {
  content: "";
  clear: both;
  display: table;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  margin: 50px 20px 0px 0px;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 500px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.form{
  border: solid #d391ff;
  max-width: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateX(5%);
  padding: 20px 5px 20px 5px;
  border-radius: 1rem;
  box-shadow: 0 0 10px #d391ff, 0 0 20px #d391ff, 0 0 50px #d391ff;
}
form{
  transform: translateX(5%);
}
input{
  width: 90%;
  margin: 2px 0 2px 0;
}
.message{
  height: 20px;
  padding-bottom: 60px;
  border-radius: 0.5rem;
  border: none;
  background-color: #d391ff;
  color: #1A261D;
  font-family: 'raleway';
}
.email{
  border-radius: 0.2rem;
  border: none;
  background-color: #d391ff;
  color: #1A261D;
  font-family: 'raleway';
  font-weight: bold;
}
.name{
  border-radius: 0.2rem;
  border: none;
  background-color: #d391ff;
  font-family: 'raleway';
  color: #1A261D;
  font-weight: bold;
}
.page{
  border-radius: 0.2rem;
  border: none;
  background-color: #d391ff;
  color: #1A261D;
  font-family: 'raleway';
  font-weight: bold;
}
.attachment{
  border-radius: 0.2rem;
  background-color: #1A261D;
  color: #D9D7D7;
  font-family: 'raleway';
  margin-top: 10px;
  cursor: pointer;
}
.submit-btn{
  border: solid #d391ff;
  border-radius: 0.2rem;
  background-color: #1A261D;
  color: #D9D7D7;
  font-family: 'raleway';
  margin-top: 10px;
  cursor: pointer;
}
.submit-btn:hover{
  border: solid #d391ff;
  border-radius: 0.2rem;
  background-color: #d391ff;
  color: #1A261D;
  font-family: 'raleway';
  box-shadow: 0 0 5px #d391ff, 0 0 5px #d391ff, 0 0 5px #d391ff;
}
.title-msg{
  padding: 0;
  margin: 0px 0px 5px 25px;
  color: #D9D7D7;
  font-family: 'raleway';
  text-transform: uppercase;
  font-weight: lighter;
}